<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item fill="outline" class="ion-margin">
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item fill="outline" class="ion-margin">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
  </ion-item>


  <ion-button expand="block" fill="outline" class="ion-margin" (click)="ingresar()">
    Ingresar
  </ion-button>

  <!-- <ion-alert
    [isOpen] = "notificar"
    header = "Evento registrado exitosamente"
    message = "Puedes ir a los eventos para verlo"
    [buttons] = "botones">
  </ion-alert> -->

</ion-content>