<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EVENTO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let evento of eventos | async" (click)="VerDetalle(evento)">
    <ion-card-header>
      <ion-card-title>{{ evento.nombre | uppercase}}</ion-card-title>
      <ion-card-subtitle>{{ evento.fecha | date: "dd/MM/y hh:mm a"}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <b>Lugar: </b>{{ evento.lugar }} <br>
      <b>Nota: </b>{{ evento.notas}}
    </ion-card-content>
    <ion-button size="small" color="success">Llegoo</ion-button>
    <ion-button size="small" color="danger">No llego</ion-button>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="registrar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
